h1 {
  color: navy;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
}
h2 {
  color: navy;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
}
p {
  color: red;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}