header {
  border: 4px solid black;
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2;
}

main {
  border: 2px dashed blue;
  padding: 15px;
  margin: 20px 0;
  background-color: #e6f7ff;
}

footer {
  border-top: 3px dotted green;
  text-align: center;
  padding: 10px;
  background-color: #f9f9f9;
}