body {
  font-family: sans-serif;
}

header {
  border: 2px solid blue;
  text-align: center;
  margin-bottom: 1em;
}

article {
  border: 2px solid fuchsia;
  padding: 1em;
  margin-bottom: 1em;
}

footer {
  text-align: center;
  padding: 0.5 em;
  border: 2px solid green;
}