body {
  /* background-color: lightblue;
  background-image: url(bg.jpg) no-repeat center/cover fixed; */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; */
  background:  url(bg.jpg) no-repeat center/cover fixed;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

p {
  text-align: center;
}

.container {
  width: 60%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

header {
  background-color: navy;
}
