.p-1 {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p-2 {
  font-size: 135%;
  font-weight: 700;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.p-3 {
  font-size: 1.2em;
  font-weight: bolder;
  font-style: oblique;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
.p-4 {
  font-size: large;
  font-weight: 600;
  font-style: inherit;
  font-family: 'Arial Black', Gadget, sans-serif;
}
.p-5 {
  font-size: 2rem;
  font-weight: normal;
  font-style: initial;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}