body {
  background-image: url(/praktik/css-background/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}


.box {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px 50px;
  border-radius: 15px;
  max-width: 500px;
  width: 90%;
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  }

.text {
  color: white;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  color: white;
}

strong {
  color: lightblue;
  width: 120px;
  display: inline-block;
}