.kotak1 {
  border: 5px solid red;
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 50px;
}

.kotak2 {
  border: 5px dashed navy;
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 50px;
}

.kotak3 {
  border: 5px dotted red;
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 50px;
}

.kotak4 {
  border: 5px double red;
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 50px;
}

.kotak5 {
  border: 5px solid red;
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 50px;
  border-radius: 20px;
}

.kotak6 {
  border: 5px solid red;
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
}